DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=24h
N8N_WEBHOOK_URL=https://fiadocheck-gfcjfpdcaccmhybx.canadacentral-01.azurewebsites.net/webhook/fiadocheck-asistente
ML_SERVICE_URL=https://fiadocheck-ml.azurewebsites.net
